<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.share.nanu.mapper.AdminMapper">
	
	<select id="member" resultType="com.share.nanu.VO.MemberVO">
	<![CDATA[ 
		select * from (
						select rownum as rnum, a.* 
		  		from ( 
		    		select * from member where ENABLE != '2' order by member_id asc 
		   	    )a where rownum <= #{pageNum} * #{amount}
		 	) where rnum > (#{pageNum}-1) * #{amount} 
	]]>
	</select>
	
	<select resultType="int" id="getTotalCount">
	<![CDATA[
		select count(*) from member
	]]>
	</select>
	
	<select id="member_view" resultType="com.share.nanu.VO.MemberVO">
	<![CDATA[ 
		select * from member where member_id = #{member_id}
	]]>
	</select>
	
	<update id="upBkCheck"> <!--회원 블랙리스트 여부 변경-->
	<![CDATA[ 
		update member set bklist = #{bklist} where member_id = #{member_id}
	]]>
	</update>
	
	<select id="getHeadItem" resultType="com.share.nanu.VO.IteminvenVO2">
	<![CDATA[ 
		select * from iteminven
	]]>
	</select>
	
	<select id="getVmBranch" resultType="com.share.nanu.VO.VmVO">
	<![CDATA[ 
		select * from vm
	]]>
	</select>
	
	<resultMap type="com.share.nanu.VO.Vmam" id="vmamvo">
		<id property="vmindex" column="vmindex" />
		<result property="vm_num" column="vm_num" />
		<result property="vm_amount" column="vm_amount" />
		<result property="iname" column="iname" />
	</resultMap>
	
	<resultMap type="com.share.nanu.VO.VmVmamVO" id="vmvo">
		<id property="vm_num" column="vm_num" />
		<result property="lat" column="lat" />
		<result property="lng" column="lng" />
		<result property="branch" column="branch" />
		<collection property="vmamlist" javaType="java.util.ArrayList" resultMap="vmamvo" />
	</resultMap>
	
	<select id="getVmVmam" resultMap="vmvo">
	<![CDATA[ 
		select * from vm, vmam where vm.vm_num = vmam.vm_num
	]]>
	</select>
	
	<update id="itemHeadUp"> <!-- 본사 입고 수량 업데이트 -->
	<![CDATA[ 
		update iteminven set iamount = iamount + #{iamount} where icat_num = #{icat_num}
	]]>
	</update>
	
	<update id="itemOut"> <!-- 본사 수량 빼기 -->
	<![CDATA[ 
		update iteminven set iamount = iamount - #{iamount} where icat_num = #{icat_num}
	]]>
	</update>
	
	<update id="itemVmam"> <!-- 본사에서 추가된 수량 자판기에 넣기 -->
	<![CDATA[ 
		update vmam set vm_amount = vm_amount + #{iamount} where vm_num = #{vm_num} and iname = #{iname}
	]]>
	</update>
	
	<insert id="itemIoutPut">
	<![CDATA[ 
		insert into ioutput(iout_num, vm_num, outamount, outputdate, icat_num) values (IOUTPUT_SEQ.nextval, #{vm_num}, #{iamount}, TO_DATE(#{outputdate}, 'MM/dd/yyyy') , #{icat_num})
	]]>
	</insert>
	
	
	<!-- 회원관리-물품내역 -->
	<resultMap id="itemdonationVO" type="com.share.nanu.VO.ItemdonationVO">
		<id property="idnt_num" column="idnt_num" />
		<result property="idntdate" column="idntdate" />
		<result property="member_id" column="member_id" />
		<result property="donaamount" column="donaamount" />
		<result property="icat_num" column="icat_num" />
	</resultMap>
	
	<resultMap id="iteminvenVO" type="com.share.nanu.VO.IteminvenVO">
		<id property="icat_num" column="icat_num" />
		<result property="iname" column="iname" />
		<result property="iamount" column="iamount" />
		<collection property="dona" javaType="java.util.List" resultMap="itemdonationVO" />
	</resultMap>

	<select resultMap="iteminvenVO" id="getMemberItemDona">
	<![CDATA[
	
	select * from (  
		select rownum as rn, a.* from ( 
        	select b.IDNT_NUM, b.icat_num, b.member_id, b.idntdate, a.INAME, a.iamount, b.donaamount 
				from iteminven a, itemdonation b where a.icat_num = b.icat_num and b.member_id = #{member_id} order by b.idntdate desc
     		)a where rownum <= #{cri.pageNum} * #{cri.amount}
	) where rn >  (#{cri.pageNum}-1) * #{cri.amount}      
	]]>
	</select>
	
	<select resultType="int" id="getItemCount">
	<![CDATA[
		select count(*) from itemdonation where member_id= #{member_id}
	]]>
	</select>
	
	<!-- 회원관리-돈기부여 -->
	
	<select id="getMemberMoneyDona" resultType="com.share.nanu.VO.DonationVO">
	<![CDATA[ 
		select * from (
						select rownum as rnum, a.* 
		  		from ( 
		    		select * from donation where member_id = #{member_id} order by member_id asc 
		   	    )a where rownum <= #{cri.pageNum} * #{cri.amount}
		 	) where rnum > (#{cri.pageNum}-1) * #{cri.amount} 
	]]>
	</select>
	
	<select resultType="int" id="getMoneyCount">
	<![CDATA[
		select count(*) from donation where member_id= #{member_id}
	]]>
	</select>
	
	<!-- 회원관리-포인트내역 -->
	<resultMap id="ecatvo" type="com.share.nanu.VO.PointVO">
		<id property="pnt_num" column="pnt_num" />
		<result property="pdate" column="pdate" />
		<result property="prtpnt" column="prtpnt" />
		<result property="dntpnt" column="dntpnt" />
		<result property="totalpnt" column="totalpnt" />
		<result property="e_idx" column="e_idx" />
		<result property="nowpnt" column="nowpnt" />
		<result property="ecat_num" column="ecat_num" />
	</resultMap>
	
	<resultMap id="epointvo" type="com.share.nanu.VO.EcatPointVO">
		<id property="ecat_num" column="ecat_num" />
		<result property="ename" column="ename" />
		<collection property="pointvo" javaType="java.util.List" resultMap="ecatvo" />
	</resultMap>

	<select resultMap="epointvo" id="getPointLog">
	<![CDATA[
	
	select * from (  
		select rownum as rn, a.* from ( 
        	select p.pnt_num, p.member_id, p.pdate, p.prtpnt, p.dntpnt, p.totalpnt, p.e_idx, p.nowpnt, e.ecat_num, e.ename
				from ecat e, point p where e.ecat_num = p.ecat_num and p.member_id = #{member_id} order by p.pnt_num asc
     		)a where rownum <= #{cri.pageNum} * #{cri.amount}
	) where rn >  (#{cri.pageNum}-1) * #{cri.amount}      
	]]>
	</select>
	
	<select resultType="int" id="getPointCount">
	<![CDATA[
		select count(*) from point where member_id= #{member_id}
	]]>
	</select>
	
	<select id="getQnA" resultType="com.share.nanu.VO.BoardVO">
	<![CDATA[ 
		select * from board where bcat_num = 1 and member_id = #{member_id}
	]]>
	</select>
	
	<select resultType="int" id="getQnACount">
	<![CDATA[
		select count(*) from board where bcat_num = 1 and member_id = #{member_id}
	]]>
	</select>
	

</mapper>
