<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- select sum(dntprice) from donation where TO_CHAR(dntdate,'yyyy-mm-dd') > sysdate-1 order by dnt_paynum asc -->
<mapper namespace="com.share.nanu.mapper.MainMapper">
	
	<resultMap type="com.share.nanu.VO.Vmam" id="vmamvo">
		<id property="vmindex" column="vmindex" />
		<result property="vm_num" column="vm_num" />
		<result property="vm_amount" column="vm_amount" />
		<result property="iname" column="iname" />
	</resultMap>
	
	<resultMap type="com.share.nanu.VO.VmVmamVO" id="vmvo">
		<id property="vm_num" column="vm_num" />
		<result property="lat" column="lat" />
		<result property="lng" column="lng" />
		<result property="branch" column="branch" />
		<collection property="vmamlist" javaType="java.util.ArrayList" resultMap="vmamvo" />
	</resultMap>
	
	<select id="getvm" resultMap="vmvo">
	<![CDATA[ 
		select * from vm, vmam where vm.vm_num = vmam.vm_num
	]]>
	</select>
	
	<select id="getvmcat" resultType="com.share.nanu.VO.VmVO">
	<![CDATA[ 
		select * from vm
	]]>
	</select>
	
	<select id="getvmiven" resultType="com.share.nanu.VO.Vmam">
	<![CDATA[ 
		select iname from vmam group by iname 
	]]>
	</select>
	
	<select id="getoffvm" resultType="com.share.nanu.VO.Vmam">
	<![CDATA[ 
		select * from vmam where vm_num = #{vm_num} and iname =#{iname}
	]]>
	</select>
	
	<update id="outAmount">
	<![CDATA[ 
		update vmam set vm_amount = vm_amount-2 where vm_num = #{vm_num} and iname = #{iname}
	]]>
	</update>
	
	<!-- 항목에 대한 수량체크 -->
	<select id="vmcount" resultType="int"> 
	<![CDATA[ 
		select vm_amount from vmam where vm_num = #{vm_num} and iname =#{iname}
	]]>
	</select>
	
	<!-- 당일 후원금 현황 -->
	<select id="getDay" resultType="int"> 
	<![CDATA[
			select nvl(sum(dntprice), 0) from donation where extract(year from dntdate) = #{year} and extract(month from dntdate) = #{month} and extract(day from dntdate) = #{day}
		]]>
	</select>
	
	<!-- 해당월 후원금 현황 -->
	<select id="getMonth" resultType="int"> 
	<![CDATA[ 
		select nvl(sum(dntprice), 0) from donation where extract(year from dntdate) = #{year} and extract(month from dntdate) = #{month}
	]]>
	</select>
	
	<!-- 해당년 후원금 현황 -->
	<select id="getYear" resultType="int"> 
	<![CDATA[
		select nvl(sum(dntprice), 0) from donation where extract(year from dntdate) = #{year}
	]]>
	</select>
	

</mapper>
