<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- select sum(dntprice) from donation where TO_CHAR(dntdate,'yyyy-mm-dd') > sysdate-1 order by dnt_paynum asc -->
<mapper namespace="com.share.nanu.mapper.MainMapper">
	
	<select id="dayMoney" resultType="com.share.nanu.VO.DonationVO">
	<![CDATA[ 
		select * from donation where TO_CHAR(dntdate,'yyyy-mm-dd') > sysdate-1 and dntstat='Y' order by dnt_paynum asc
	]]>
	</select>
	
	<select id="weekMoney" resultType="com.share.nanu.VO.DonationVO">
	<![CDATA[ 
		select sum(dntprice) from donation where dntdate >= '2021-03-16' and dntdate < to_char(sysdate,'YYYYMMDD') GROUP BY to_char(dntdate, 'YYYYMM')
	]]>
	</select>
	
	<resultMap type="com.share.nanu.VO.Vmam" id="vmamvo">
		<id property="vmindex" column="vmindex" />
		<result property="vm_num" column="vm_num" />
		<result property="vm_amount" column="vm_amount" />
		<result property="iname" column="iname" />
	</resultMap>
	
	<resultMap type="com.share.nanu.VO.VmVmamVO" id="vmvo">
		<id property="vm_num" column="vm_num" />
		<result property="lat" column="lat" />
		<result property="lng" column="lng" />
		<result property="branch" column="branch" />
		<collection property="vmamlist" javaType="java.util.ArrayList" resultMap="vmamvo" />
	</resultMap>
	
	<select id="getvm" resultMap="vmvo">
	<![CDATA[ 
		select * from vm, vmam where vm.vm_num = vmam.vm_num
	]]>
	</select>
	
	<select id="getvmcat" resultType="com.share.nanu.VO.VmVO">
	<![CDATA[ 
		select * from vm
	]]>
	</select>
	
	<select id="getvmiven" resultType="com.share.nanu.VO.Vmam">
	<![CDATA[ 
		select iname from vmam group by iname 
	]]>
	</select>
	
	<select id="getoffvm" resultType="com.share.nanu.VO.Vmam">
	<![CDATA[ 
		select * from vmam where vm_num = #{vm_num} and iname =#{iname}
	]]>
	</select>
	
	<update id="outAmount">
	<![CDATA[ 
		update vmam set vm_amount = vm_amount-2 where vm_num = #{vm_num} and iname = #{iname}
	]]>
	</update>

</mapper>
