<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.share.nanu.mapper.MyPageMapper">
	<!-- 1.나의문의내역 -->
	<select resultType="com.share.nanu.VO.BoardVO" id="mygetlist1">

	<![CDATA[
	select * from (
						select rownum as rnum, a.* 
		  		from ( 
		    		select * from board where bcat_num = 1 and member_id = #{member_id} order by b_index desc
		   	    )a where rownum <=  #{cri.pageNum} * #{cri.amount}
		 	) where rnum > (#{cri.pageNum}-1) * #{cri.amount}
]]>
	</select>

	<select resultType="int" id="getTotalCnt1">
		 <![CDATA[select count(*) from board where
		bcat_num=1 and member_id = #{member_id}]]>
	</select>


	<!-- 2.나의인증내역 -->
<select resultType="com.share.nanu.VO.BoardVO" id="mygetlist2">

	<![CDATA[
	select * from (
						select rownum as rnum, a.* 
		  		from ( 
		    		select * from board where bcat_num = 2 and member_id = #{member_id} order by b_index desc
		   	    )a where rownum <= #{cri.pageNum} * #{cri.amount}
		 	) where rnum > (#{cri.pageNum}-1) * #{cri.amount}
	]]>
	</select>
	
	<select resultType="int" id="getTotalCnt2">
		<![CDATA[
		select count(*) from board where
		bcat_num=2 and member_id = #{member_id}
		]]>
	</select>




	<!-- 3.나의 나눔내역 -->
	<resultMap id="itemdonationVO"
		type="com.share.nanu.VO.ItemdonationVO">
		<id property="idnt_num" column="idnt_num" />
		<result property="idntdate" column="idntdate" />
		<result property="member_id" column="member_id" />
		<result property="donaamount" column="donaamount" />
		<result property="icat_num" column="icat_num" />
	</resultMap>
	<resultMap id="iteminvenVO"
		type="com.share.nanu.VO.IteminvenVO">
		<id property="icat_num" column="icat_num" />
		<result property="iname" column="iname" />
		<result property="iamount" column="iamount" />
		<collection property="dona" javaType="java.util.List"
			resultMap="itemdonationVO" />
	</resultMap>
	<!-- resultType : 결과반환 Object, parameterType : 조회결과 Object -->


	<select resultMap="iteminvenVO" id="mygetlist3">
 
	<![CDATA[
	
	select * from (  
select rownum as rn, a.* from ( 
        select b.IDNT_NUM, b.icat_num, b.member_id, b.idntdate, a.INAME, a.iamount,b.donaamount 
from iteminven a, itemdonation b where a.icat_num = b.icat_num and b.member_id = #{member_id} order by b.idntdate desc
     )a where rownum <= #{cri.pageNum} * #{cri.amount}
) where rn > (#{cri.pageNum}-1) * #{cri.amount}     

	]]>
	</select>

	<select resultType="int" id="getTotalCnt3">
		<![CDATA[select count(*) from itemdonation a, iteminven b where a.icat_num = b.icat_num and member_id = #{member_id} ]]>
	</select>


	<!-- 4. 나의 댓글내역 -->
	<resultMap id="boardreplyVO"
		type="com.share.nanu.VO.BoardreplyVO">
		<id property="r_num" column="r_num" />
		<result property="rcontent" column="rcontent" />
		<result property="rdate" column="rdate" />
		<result property="rid" column="rid" />
		<result property="b_index" column="b_index" />
	</resultMap>
	<resultMap id="boardVO" type="com.share.nanu.VO.Board_ListVO">
		<id property="b_index" column="b_index" />
		<result property="btitle" column="btitle" />
		<result property="bcat_num" column="bcat_num" />
		<collection property="reply" javaType="java.util.List"
			resultMap="boardreplyVO" />
	</resultMap>


	<select resultMap="boardVO" id="mygetlist4">

	<![CDATA[
	select * from (  
select rownum as rn, a.* from ( 
        select a.rcontent, a.rdate, a.rid, b.b_index, b.btitle, b.bcat_num
from boardreply a, board b where a.b_index = b.b_index and a.rid = #{rid} order by a.rdate
     )a where rownum <= #{cri.pageNum} * #{cri.amount}
) where rn >  (#{cri.pageNum}-1) * #{cri.amount} 
]]>
	</select>

	<select resultType="int" id="getTotalCnt4">
		select count(*) from board a, boardreply b where a.b_index = b.b_index and rid=#{rid}
		
	</select>


	<!-- 5.나의결제내역 -->
	<select resultType="com.share.nanu.VO.DonationVO"
		id="mygetlist5">

	<![CDATA[
	select * from (
						select rownum as rnum, a.* 
		  		from ( 
		    		select * from donation where member_id=#{member_id} order by dntdate desc
		   	    )a where rownum <= #{cri.pageNum} * #{cri.amount}
		 	) where rnum >  (#{cri.pageNum}-1) * #{cri.amount} 
	]]>
	</select>

	<select resultType="int" id="getTotalCnt5">
		 <![CDATA[select count(*) from donation where member_id=#{member_id}]]>
	</select>



	<!-- 회원정보수정 -->
	<update id="memberModify">
		<![CDATA[
		UPDATE member
		SET name = #{name}, pw = #{pw},subemail = #{subemail}
		where member_id = #{member_id}]]>
	</update>

	<!-- 탈퇴 -->
	<delete id="memberDelete">
		<![CDATA[UPDATE member
		SET enable = 2
		where member_id = #{member_id} and name=#{name} ]]>
	</delete>

<!-- 출석체크 카운트세기 1일1회만 참여가능 -->
<select id="mycount" resultType="int">
		<![CDATA[
			
	   select count(*) as count from point where member_id = #{member_id} and pdate>=TO_CHAR(SYSDATE, 'YYYYMMDD') and ecat_num=1
	    
	   ]]>
	</select>
<!-- select count(*) as count from point where member_id = #{member_id} and pdate>=TO_CHAR(SYSDATE, 'YYYYMMDD') and ecat_num=1
	    -->

<!-- 출첵으로 받은 포인트 insert --><!-- 총합포인트 쿼리 다시 짜야함  -->
	<insert id="getMypoint">
		<![CDATA[
	       insert into point (pnt_num, member_id, pdate, prtpnt, dntpnt, totalpnt, e_idx, nowpnt, ecat_num) 
	       values(POINT_SEQ.nextval, #{member_id}, sysdate, #{pointVO.prtpnt},0, #{pointVO.totalpnt}+#{pointVO.prtpnt}, null,#{pointVO.nowpnt}+#{pointVO.prtpnt}, 1)
	   ]]>
	</insert>
	
<!-- 출석체크 카운트세기 1일1회만 참여가능 -->
<select id="mycount2" resultType="int">
		<![CDATA[
			select count(*) as count from point where member_id = #{member_id} and pdate>=TO_CHAR(SYSDATE, 'YYYY-MM-DD') and ecat_num=7
	   ]]>
	</select>


<!-- 출첵으로 받은 포인트 insert --><!-- 총합포인트 쿼리 다시 짜야함  -->
	<insert id="getMypoint2">
		<![CDATA[
	       insert into point (pnt_num, member_id, pdate, prtpnt, dntpnt, totalpnt, e_idx, nowpnt, ecat_num) 
	       values(POINT_SEQ.nextval, #{member_id}, sysdate, #{pointVO.prtpnt},0, #{pointVO.totalpnt}+#{pointVO.prtpnt}, null,#{pointVO.totalpnt}+#{pointVO.prtpnt}-#{pointVO.dntpnt}, 7)
	   ]]>
	</insert>
	
	
	<select id="mypnt" resultType="com.share.nanu.VO.PointVO">
		<![CDATA[
			select * from (select * from point where member_id = #{member_id} and ecat_num=1 order by pnt_num desc) where rownum = 1
	   ]]>
	</select>
	
</mapper>