<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.share.nanu.mapper.NanuBoardShowYSMapper">
	
	
	<!-- 인증게시판 리스트 -->
	<select id="getlist" resultType="com.share.nanu.VO.BoardVO">
		<![CDATA[ 
			select * from board where bcat_num = 2
		]]>
	</select>
<!-- /*+ INDEX_DESC(board pk_board) */ -->
	<!-- 인증게시판 페이징 리스트 -->
	<select id="getlistWithPaging" resultType="com.share.nanu.VO.BoardVO">
		<![CDATA[
			select * from (
				select  
    					rownum as rn, a.* from ( 
        					select /*+ INDEX_DESC(board pk_board) */ * from board where bcat_num = 2 
     			) a where 
		]]>    
		<trim prefix="(" suffix=") AND " prefixOverrides="OR">
			<foreach item='type' collection="typeArr">
				<trim prefix="OR">
					<choose>
						<when test="type == 'T'.toString()">
							btitle like '%'||#{keyword}||'%'
						</when>
						<when test="type == 'C'.toString()">
							bcontent like '%'||#{keyword}||'%'
						</when>
						<when test="type == 'W'.toString()">
							member_id like '%'||#{keyword}||'%'
						</when>
					</choose>
				</trim>
			</foreach>
		</trim> 
		<![CDATA[   	    
		   	    rownum <= #{pageNum} * #{amount}
		 	) where rn > (#{pageNum}-1) * #{amount} 
		]]>
	</select>
	
	<!-- 게시물 총 개수  -->
	<select id="getTotalCount" resultType="int">
		<![CDATA[
			select count(*) from board where 
		]]>	 
	 	<trim prefix="(" suffix=") AND " prefixOverrides="OR">
			<foreach item='type' collection="typeArr">
				<trim prefix="OR">
					<choose>
						<when test="type == 'T'.toString()">
							btitle like '%'||#{keyword}||'%'
						</when>
						<when test="type == 'C'.toString()">
							bcontent like '%'||#{keyword}||'%'
						</when>
						<when test="type == 'W'.toString()">
							member_id like '%'||#{keyword}||'%'
						</when>
					</choose>
				</trim>
			</foreach>
		</trim>  
		<![CDATA[	 
			bcat_num = 2 and b_index > 0 
		]]>
	</select>
	
	<!-- 인증게시판 컨텐트뷰 -->
	<select id="read" resultType="com.share.nanu.VO.BoardVO">
		<![CDATA[
	     	select * from board where bcat_num = 2 and b_index = #{b_index}
		]]>
	</select>
	
	<!-- 인증게시판 조회수 카운트 +1 hitUpdate -->
	<update id="hitUpdate">
		<![CDATA[
	      update board set bhit = bhit +1 where b_index = #{b_index}
		]]>
	</update>
	
	<!-- 게시글 수정 modify-->
 	<update id="modify">
		<![CDATA[
	    	update board set btitle = #{btitle}, bcontent = #{bcontent} where b_index = #{b_index}
		]]>
	</update> 
	
	<!-- 글 삭제 -->
	<delete id="delete">
	   <![CDATA[
	     	delete from board where b_index = #{b_index}
	   ]]>
	</delete>
	
	
	<!-- 글 작성 write insert -->
	<!--  'Ulric@naver.com'로 테스트, 실제로는 로그인 사용자 정보 받아와서 넣어야함. 아직 미구현상태라 이렇게 테스트함 -->
	<insert id="insert">
  		<![CDATA[
			insert into board (b_index, member_id, btitle, bcontent, bhit, bdate, bcat_num) 
			values (board_seq.nextval, #{member_id}, #{btitle}, #{bcontent}, 0, sysdate, 2)
 		]]>
	</insert>
	
	<!-- 이미지 업로드 -->
	<select id="uploadFile" resultType="com.share.nanu.VO.AttachmentVO">
	 <![CDATA[
	    
	   	   insert into attachment VALUES (attachment_seq.nextval, #{originname}, #{path}, #{extension}, #{b_index}, #{uuidName})
		]]>
	</select>
	
	<!-- 게시판 글번호 -->
	<select id="getBindex"  resultType="int">
		<![CDATA[ 
			select * from (
        select b_index from board where member_id = #{member_id}  and bcat_num = 2 order by b_index desc
   	 		) 
				where rownum =1
		]]>
	</select>
	
	<!-- 댓글 리스트 -->
 	<select id="listComment" resultType="com.share.nanu.VO.BoardreplyVO">
	   <![CDATA[
		  select * from  BOARDREPLY  where b_index = #{b_index} order by r_num desc
	   ]]>
	</select>
	
	<!-- 댓글 입력 -->
	<insert id="insertReply">
		insert into BOARDREPLY (r_num, rcontent, rdate, rid, b_index)
		values (BOARDREPLY_SEQ.nextval, #{rcontent}, #{rdate}, #{rid}, #{b_index})
	</insert>
	
	<select id="getComment" resultType="com.share.nanu.VO.BoardreplyVO">
	   <![CDATA[
		  select * from BOARDREPLY  where b_index = #{b_index} and r_num= #{r_num}
	   ]]>
	</select>
	
	<!-- 댓글 삭제 -->
	<delete id="removeReply">
		<![CDATA[
		  delete from BOARDREPLY  where b_index = #{b_index} and r_num= #{r_num}
	   ]]>
	</delete>
	
	<select id="getAttachMent" resultType="com.share.nanu.VO.AttachmentVO">
		<![CDATA[ 
			select * from attachment order by b_index desc
		]]>
	</select>
	
	<select id="getAttachMentCount" resultType="int">
		<![CDATA[ 
			select count(b_index) as count from attachment
		]]>
	</select>
	
</mapper>


