<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.share.nanu.mapper.NanuDonationMapper">

	<!-- 물품신청서 회원정보 불러오기 _ 아래는 현재 테스트용 쿼리문임 현재 로그인한 회원정보 불러오기로 추후 변경해야함 -->
	<select id="readMember" resultType="com.share.nanu.VO.MemberVO">
		<![CDATA[ 
			select * from member 
		]]>
	</select>
<!-- 	select * from member where member_id = 'Ulric@naver.com' -->

		<!-- 오늘날짜 자동입력으로 테스트함 -->
<!-- 	<select id="saveForm" resultType="com.share.nanu.VO.ItemdonationVO">
		<![CDATA[ 
			insert into itemdonation(idnt_num, member_id, donaamount, icat_num)
			values(ITEMDONATION_SEQ.nextval,  #{member_id}, #{donaamount}, #{icat_num})
		]]>
	</select> -->
	
	<!-- 물품신청서 디비 저장 -->
 	 <insert id="saveForm" >
		<![CDATA[ 
			insert into itemdonation(idnt_num, idntdate, member_id, donaamount, icat_num)
			values(ITEMDONATION_SEQ.nextval, sysdate,  #{member_id}, #{donaamount}, #{icat_num})
		]]>
	</insert> 
	
	<!-- 물품신청서 전송시 회원테이블에 물품신청 횟수 카운트 countIDnt -->
 	<update id="countIDnt" >
		<![CDATA[ 
			UPDATE member SET ITEMDNTCNT = ITEMDNTCNT + 1 where member_id = #{member_id}
		]]>
	</update> 

	<!-- 포인트 나눔 페이지 point + member 조인해서 불러오기 -->
	<resultMap id="Point" type="com.share.nanu.VO.PointVO">
		<id column="pnt_num" property="pnt_num" />
		<result column="member_id" property="member_id" />
		<result column="pdate" property="pdate" />
		<result column="prtpnt" property="prtpnt" />
		<result column="dntpnt" property="dntpnt" />
		<result column="totalpnt" property="totalpnt" /> 
		<result column="e_idx" property="e_idx" />
		<result column="nowpnt" property="nowpnt" />
	</resultMap>
	
	<resultMap id="MemberPointResult" type="com.share.nanu.VO.MemberPointVO">
 		<id column="member_id" property="member_id" />
 		<result column="name" property="name" />
 		<result column="signuppath" property="signuppath" />
 		<collection property="pointList" resultMap="Point" javaType="java.util.List" />
	</resultMap>

	<!-- select * from member m, point p where m.member_id = p.member_id and m.member_id='Ulric@naver.com' -->
	<select id="getMP" resultMap="MemberPointResult">
		<![CDATA[ 
			select * from (
					select m.member_id, m.signuppath, m.name, p.pnt_num, p.totalpnt, p.nowpnt from member m, point p 
					where m.member_id = p.member_id and m.member_id= #{member_id} order by p.pnt_num desc
				) 
			where rownum =1
		]]>
	</select>  
	
		<!-- select * from (
					select m.member_id, m.name, p.pnt_num, p.totalpnt, p.nowpnt from member m, point p 
					where m.member_id = p.member_id and m.member_id = 'Ulric@naver.com' order by p.pnt_num desc
				) 
			where rownum =1 -->
	<!-- insert into point(pnt_num, member_id, pdate, prtpnt, dntpnt, totalpnt)
	values(POINT_SEQ.nextval, #{member_id}, sysdate, 0, #{dntpnt}, #{totalpnt}) -->
	
	<!-- 포인트 기부시 포인트 테이블에 기부포인트, 누적포인트 내역 insert -->
	<insert id="donatePoint" >
		<![CDATA[ 
			insert into point(pnt_num, member_id, pdate, prtpnt, dntpnt, totalpnt, nowpnt)
			values(POINT_SEQ.nextval, #{member_id}, sysdate, 0, #{dntpnt}, #{totalpnt}, #{nowpnt}-#{dntpnt})
		]]>
	</insert>  
	
	<!-- 포인트 기부시 회원테이블에 물품신청 횟수 카운트 countPDnt -->
  	<update id="countPDnt" >
		<![CDATA[ 
			UPDATE member SET DNTCNT = DNTCNT + 1 where member_id = #{member_id}
		]]>
	</update>
	
	<!-- 후원금 관련 데이터 db에 저장  -->
	<select id="insertCardDona" resultType="com.share.nanu.VO.DonationVO">
		<![CDATA[ 
			insert into donation(dnt_paynum, member_id, dntprice, dntdate, dntstat, pg, paymethod)
			values(#{dnt_paynum}, #{member_id},  #{dntprice},  #{dntdate}, #{dntstat}, #{pg}, #{paymethod})
		]]>
	</select> 
	
	<!-- 후원금 기부시 dntcnt +1 -->
	<select id="updateDntcnt"  resultType="com.share.nanu.VO.MemberVO">
		<![CDATA[ 
			UPDATE member SET DNTCNT = DNTCNT + 1 where member_id = #{member_id}
		]]>
	</select>
	
	<select id="getDonation"  resultType="com.share.nanu.VO.DonationVO">
		<![CDATA[ 
			select * from donation where dnt_paynum=#{merchantUid}
		]]>
	</select>  
	
	<update id="updateState" >
		<![CDATA[ 
			UPDATE donation SET dntstat = 'cancelled' where dnt_paynum = #{merchantUid}
		]]>
	</update>  

	
</mapper>


