<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.share.nanu.mapper.NanuMapper">


	<select id="getlist" resultType="com.share.nanu.VO.MemberVO">
	<![CDATA[ 
			select * from member 
		]]>
	</select>
	
	
	<select id="memberJoin" resultType="com.share.nanu.VO.MemberVO">
	<![CDATA[ 
			insert into member (member_id,pw,name,gender,birth,signuppath,pntnum,authname,bklist,dntcnt,itemdntcnt,phone)
				 values(#{member_id},#{pw},#{name},#{gender},#{birth},'home',null,#{authname},null,,null,null,#{phone}) 
		]]>
	</select>

</mapper>